.form{
    box-shadow: 0 5px 10px rgba(0,0,0,0.25),0 10px 5px rgba(0,0,0,0.45);
    z-index: 1;
    border-radius: 5%;
    padding: 15px;
    font-family:"Ink Free";
    font-size: 20px;
    font-weight: bold;
}
.div-form{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.tellusmore{
    font-family: "Comic Sans MS";
}

