@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
.card-deck1{
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-left:6%;
    padding-top: 5%;

    padding-bottom: 5%;
}
.cardWidth{
    width: 320px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 5px rgba(0,0,0,0.45);
    z-index:1;
    font-family: Caveat;
    transition: transform .1s;
    margin-bottom: 20px;

}

.header-text{
    padding: 10px;
    font-family: Caveat;
    color: #333333;
    font-weight: bold;
    font-size: 30px;
}
.foo-button {
    border: 1px solid #004e64;
    border-radius: 25px;
    color: #004e64;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
    font-family: "Indie Flower";
}

.paginationA{
    padding-top: 60px;
    padding-left: 12px;
}

.foo-button:hover {
    background: #004e64;
    color: white;
    text-decoration: none;
}

.cardWidth:hover{
    transform: scale(1.01);
}
.row{
    margin-bottom: 18px;
}
.divAdopt{
    padding-left: 10%;
    padding-right: 9%;
    padding-top: 5%;
}

.rowAdopt{
    max-width: 30%;
}

.col{
    max-width: 30%;
}

.dogName{
    font-size: 28px;
    color: #004e64;
}

.card-ul{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}

Card.Body{
    padding: 2px;
}