@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.card-deck1{
    background-image: radial-gradient(circle, #eff2f6, #d2dee3, #b7cbca, #a4b7ab, #9aa18c);
    padding: 4% 11%;
}
.card-body{
    padding: 0 !important;
}
.cardWidth{
    width: 300px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 5px rgba(0,0,0,0.45);
    z-index:1;
    font-family: Caveat;
    transition: transform .1s;
    margin-bottom: 20px;
    padding: 10px !important;
    margin-right: 5px;
    border-color: #2C3E50;
}

.header-text{
    padding-bottom: 35px;
    font-family: "Comic Sans MS";
    color: #004e64;
    font-weight: bold;
    font-size: 34px;
    margin-top: 10px;
}

.foo-button {
    border: 1px solid #004e64 !important;
    border-radius: 25px !important;
    color: white!important;
    display: inline-block;
    font-size: 14px!important;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
    font-family: "Indie Flower";
    background-color: #004e64 !important;
}
.button-no {
    border: 1px solid #004e64 !important;
    border-radius: 25px !important;
    color: #004e64!important;
    display: inline-block;
    font-size: 14px!important;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
    font-family: "Comic Sans MS";
    background-color: white !important;
}

.button-ok{
    border: 1px solid #004e64 !important;
    border-radius: 25px !important;
    color: white!important;
    display: inline-block;
    font-size: 14px!important;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
    font-family: "Comic Sans MS";
    background-color: #004e64 !important;
}

.paginationA{
    padding-top: 50px;
    padding-left: 38%;
}

.foo-button:hover {
    background: white !important;
    color: #004e64 !important;
    text-decoration: none;
}

.cardWidth:hover{
    transform: scale(1.01);

}
. row{
    margin-bottom: 18px;
}

.divAdopt{
    padding-left: 10%;
    padding-right: 9%;
    padding-top: 5%;
}

.rowAdopt{
    max-width: 30%;
}

.col{
    max-width: 30%;
}

.dogName{
    font-size: 28px;
    color: #004e64;
}

.card-ul{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}
.modal-text{
    font-family: "Comic Sans MS";
}
#okk{
    display: none;
}
