.color{
    color: red;
}
.carousel-img{
    width: 100%;
    height: 600px;
}
.thumbs{
    display:none;
}

#text{
    color: darkgray;
    font-family:"Comic Sans MS";
}
.map-section{
    float:left;
    border:groove;
    border-radius: 5%;

    margin:50px;
    margin-left: 165px;
}