.color{
    color: red;
}
.carousel-img {
    width: 100% !important;
    height: 600px !important;
}

#text{
    color: #004e64;
    font-family:"Comic Sans MS";
}

.carousel-caption{

    left: 15%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
}
.text-car{
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: #004e64;
    font-weight: bold;

}
.text-carousel{
    opacity: 1 !important;
}
