.color{
    color: red;
}
.carousel-img{
    width: 100%;
    height: 670px;
}
.thumbs{
    display:none;
}
.background{
   background-color: #282c34;
}
#text{
    color: whitesmoke;
    font-family:"Comic Sans MS";
}